*{
    margin: 0;
    /* padding: 0; */
    font-family: 'Open Sans', sans-serif;
}

/* header styles */

header{
    background: linear-gradient(360deg, #121212 0%, rgba(18, 18, 18, 0) 100%), url('images/donation13.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.header-container{
    padding: 175px 310px;
    text-align: center;
    
}
.header-title{
    color: #FFFFFF;
    font-size: 65px;
    font-weight: 700;
    padding-bottom: 20px;
}
.description{
    color: #DCDCDC;
    font-size: 16px;
    font-weight: 100;
    padding-bottom: 30px;
}
.button-primary{
    font-size: 18px;
    background: #FF5959;
    padding: 16px;
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
}

/* donation styles */

.donate-today{
    margin: 135px auto;
    text-align: center;
}
.section-title{
    font-size: 45px;
    font-weight: 700;
    padding-bottom: 20px;
}
.donate-today .description{
    color: #707070;
    padding-bottom: 40px;
}
.tk-amount{
    display: flex;
    justify-content: center;
    gap: 22px;
}
.tk{
    font-weight: 700;
    font-size: 30px;
    background: #FAFAFA;
    border-radius: 5px;
    color: #707070;
    padding: 45px 35px;
}
.primary{
    color: #FF5959;
    background: #FFEEEE;
    border: 2px solid #FF5959;
    border-radius: 5px;
}
.other-amount{
    margin: 60px auto 10px;
    font-weight: 400;
    font-size: 18px;
    color: #B3B3B3;
}
hr{
    width: 50%;
    margin: 0 auto 30px;
}

/* donate plan styles */

.donate-plan{
    margin: 130px auto;
    text-align: center;
}
.donate-plan .description{
    color: #707070;
    margin: 20px auto;
}
.plan-container{
    margin: 0 350px;
    display: flex;
    gap: 25px;
    text-align: left;
}
.plan{
    padding: 54px 24px;
    border-radius: 5px;
}
.plan-title{
    padding-top: 20px;
    padding-bottom: 30px;
}
.donate-plan .plan-description{
    padding: 0;
}
.plan1{
    background: rgba(79, 157, 166, 0.1);
}
.plan2{
    background: rgba(255, 89, 89, 0.1);
}
.plan3{
 background: #FFFFE0;
}
